@import './variables';

@font-face {
  font-family:kumbh sans-bold;
  src: url(../font/KumbhSans-SemiBold.ttf);
}

@font-face {
  font-family:kumbh sans-regular;
  src: url(../font/KumbhSans-Medium.ttf);
}

.app {
  width: 90%;
  margin-left: 15px;
  font-family:kumbh sans-regular;

  @include responsive(tablet){
    width: 85%;
    margin-left: 90px;
    position: relative;
  }

  li{
    display: inline-flex;
    list-style: none;
  }
}

button{
  font-family: kumbh sans-regular;
}
