@import './variables';

@mixin display-flex($direction){
    display: flex;
    flex-direction: row;
    justify-content: $direction;
}

.home-wrapper{
    width: 100%;
}

.home{
    
    h3{ color: $orange }
    h2{ color: $Very-dark-blue }
    p{ color: $dark-grayish-blue }

}
.pricing{
    @include display-flex(space-between);
    position: absolute;
    left: -18px;

    li{
        margin-right: 20px;
        font-size: 15px;

        &:nth-of-type(1){
            font-size: 22px;
            font-weight: bold;
            margin-top: -3px;
        }

        &:nth-of-type(2){
            color: $orange;
            background-color: $pale-orange;
            padding: 2px;
            border-radius: 5px;
            margin-right: 70%;
        }

        &:nth-of-type(3){
            color: $grayish-blue;
            text-decoration: line-through;
        }
    
    }

    
}
.qty-order{
    position: relative;
    margin-top: 100px;
    text-align:center;
    width:100%;
    

    ul {
        li{
            display: inline-flex;
            
        }

        li:nth-of-type(1){
            position: absolute;
            left: 0px;
            margin-top: 10px;
        }

        li:nth-of-type(2){
            margin-left: -40px;
        }

        li:nth-of-type(3){
            position: absolute;
            right: 0px;
            margin-top: 5px;
        }
        
        
    }

    button{
        width: 100%;
        background-color: $orange;
        color: white;
        border: 1px solid $orange;
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 20px;
    }
}



@media screen and (min-width:800px){
    .home-wrapper{
        display: grid;
        position: relative;
        grid-template-columns: 50% 50%;
        gap: 100px;
        width: 85%;
        margin-left: 30px;
        margin-bottom: 40px;

        .home{
            margin-top: 30px;

            h1{
                font-size: 40px;
            }
            .pricing{
                left: 57%;
        
                li{
                    &:nth-of-type(3){
                        position: inherit;
                        margin-top: 30px;
                    }
        
                    &:nth-of-type(2){
                        margin-left: 10px;
                    }
                }
        
            }
    
            .qty-order{
                width: 97%;
                display: grid;
                gap: 10px;
                grid-template-columns: 50% 50%;

                li:nth-of-type(3){
                    right: 52%;
                    margin-top: 5px;
                }
                button{
                    margin-bottom: 0px;

                    &:hover{
                        opacity: .7;
                        cursor: pointer;
                    }
                }
            }

        }
    }
    
    
}