@font-face {
  font-family: kumbhsansMedium;
  src: url(../../font/KumbhSans-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: kumbhsansMedium;
}

body {
  height: 100vh;
}

.container {
  width: 100%;
  position: relative;
  height: 100lvh;
  padding-inline: 20px;
}
.container .navbar {
  background: hsl(0, 0%, 100%);
  color: black;
  box-shadow: none;
}
@media screen and (max-width: 425px) {
  .container .navbar .topright {
    margin-left: 5.5em;
  }
  .container .navbar .topright .cart {
    margin-right: -1em;
  }
  .container .navbar .badge {
    margin-right: -3.2em;
  }
}
.container .navbar .avatar {
  width: 35px;
}
.container .navbar .menu {
  margin-right: 20px;
  margin-left: -15px;
}
.container .navbar .badge {
  color: hsl(0, 0%, 100%);
  background: hsl(26, 100%, 55%);
  padding: 4px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6em;
  margin-top: -10px;
}
@media screen and (min-width: 426px) {
  .container .navbar {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid hsl(219, 9%, 45%);
    display: block;
    padding-inline: 3em;
  }
  .container .navbar .avatar {
    width: 50px;
  }
  .container .navbar .menu {
    display: none;
  }
}
.container .navbar .logo {
  margin-right: 2em;
}
.container .navbar ul {
  display: inline-flex;
  flex: 1;
  list-style: none;
}
@media screen and (max-width: 425px) {
  .container .navbar ul {
    display: none;
  }
}
.container .navbar ul li {
  margin-right: 3rem;
  color: hsl(219, 9%, 45%);
}
.container .main {
  position: absolute;
  margin-top: 1em;
  width: 93%;
}
.container .main .right h6 {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 1em auto;
}
.container .main .right h3 {
  font-weight: bolder;
}
@media screen and (max-width: 425px) {
  .container .main .right h3 {
    font-size: 30px;
  }
  .container .main .right .pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding-block: 5px;
  }
}
.container .main .thumbnail {
  display: none;
}
@media screen and (min-width: 426px) {
  .container .main {
    display: flex;
    justify-content: space-between;
    padding-inline: 7em;
  }
  .container .main img {
    border-radius: 15px;
  }
  .container .main .carousel {
    display: none;
  }
  .container .main .thumbnail {
    display: block;
    width: 100%;
  }
  .container .main .thumbnail .bottom {
    width: 100%;
    margin-left: 1em;
    margin-top: 20px;
  }
  .container .main .thumbnail .bottom img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .main .right {
    margin-left: 5em;
    padding-top: 2em;
  }
}
.container .main .cta {
  width: 95%;
  margin-bottom: 10px;
}
.container .main .cta .counter {
  background: hsl(223, 64%, 98%);
  padding: 13px;
  border-radius: 10px;
  font-weight: bold;
  justify-content: space-between;
}
@media screen and (min-width: 426px) {
  .container .main .cta {
    display: flex;
    flex-flow: row;
    margin-top: 2em;
  }
  .container .main .cta .btn {
    width: 70%;
    padding-inline: 40px;
    margin-left: 20px;
  }
  .container .main .cta .counter {
    width: 30%;
  }
}
.container .main .discount {
  background: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 3px;
  border-radius: 5px;
}
.container .main .content-text {
  color: hsl(220, 14%, 75%);
}
.container .main .carousel .arrows {
  position: absolute;
  z-index: 2;
  margin-top: 35%;
  list-style: none;
  display: inline-flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}
.container .main .carousel .arrows img {
  background: hsl(0, 0%, 100%);
  padding: 10px 13px;
  border-radius: 100%;
}
.container .product-cart {
  position: absolute;
  top: 5em;
  z-index: 3;
  background: hsl(0, 0%, 100%);
  width: 90%;
  border-radius: 10px;
  height: 270px;
  align-items: center;
  display: none;
}
.container .product-cart .row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 1em;
}
.container .product-cart .row .image {
  width: 20%;
  border-radius: 0.5em;
}
@media screen and (min-width: 426px) {
  .container .product-cart {
    width: 30%;
    right: 10px;
  }
}
.container .product-cart .cart-head {
  padding: 1.5em 2em;
}
.container .product-cart .cart-content {
  padding: 15px 2em;
}
.container .product-cart h6 {
  font-weight: bold;
}
.container .btn {
  background: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  box-shadow: none;
  width: 100%;
  border-radius: 10px;
  text-transform: capitalize;
}
.container .btn:hover {
  background: hsl(26, 100%, 55%);
}
@media screen and (max-width: 425px) {
  .container .btn {
    margin-top: 1em;
    padding-block: 15px;
  }
}
.container .box-overlay {
  display: flex;
  flex-flow: row;
  width: 50%;
}
.container .box-overlay div {
  width: 50%;
}